<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>GQuartetServlet</servlet-name>
        <servlet-class>com.gquartet.GQuartetServlet</servlet-class>
      </servlet>

    <servlet>
        <servlet-name>TestPDF</servlet-name>
        <servlet-class>com.gquartet.TestPDF</servlet-class>
      </servlet>

    <servlet>
        <servlet-name>Navigator</servlet-name>
        <servlet-class>com.gquartet.Navigator</servlet-class>
      </servlet>


    <servlet>
        <servlet-name>TestGQDataStoreServlet</servlet-name>
        <servlet-class>com.gquartet.TestGQDataStore</servlet-class>
      </servlet>

    <servlet-mapping>
        <servlet-name>TestPDF</servlet-name>
        <url-pattern>/testpdf</url-pattern>
     </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestGQDataStoreServlet</servlet-name>
        <url-pattern>/testdb</url-pattern>
     </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GQuartetServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>Navigator</servlet-name>
        <url-pattern>/navigator</url-pattern>
     </servlet-mapping>




    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
